<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%= @letter.name1 %></br>
    
    </p>
      <pre>
        <%= @letter.body %>
 	  </pre>
    </p>
    
    Sincerely, <br />
    
    <% if @letter.name == "" %>
      concerned citizen<br/>
    <% else %>
      <%= @letter.name %><br />
    <%end%>

    <% if@letter.address == "" %>
      
    <% else %>
      <%= @letter.address %><br />
    <%end%>

    <% if  @letter.city == "" && @letter.zip == "" %>
      
    <% else %>
      <%= @letter.city %> FL, <%= @letter.zip %><br />
    <%end%>


    
</body>
</html>