<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%= @letter.name2 %></br>
    
    </p>
      <pre>
        <%= @letter.body %>
 	  </pre>
    </p>
    
    Sincerely, <br />
    
    <%= @letter.name %><br />
    <%= @letter.address %><br />
    <%= @letter.city %> FL, <%= @letter.zip %><br />
    <%= @user %>
    
  </body>
</html>