<div id="main-stuff" class="featured_wrapper">
	<div class="featured_main">
		<div id="mainsectionbig" class="featured_content">	
			
			<% @article = Article.order("created_at").last %>
			<div class= "featured_title">
				<h1 class="title">

				

				

				<%= link_to @article.title, {:controller => 'articles', :action => 'show', :id => @article.slug } %>


				</h1>
			</div>
			
			<div class="featured_time_stamp_wrapper">
				
				<div class="featured_time_stamp">
				posted on
					<%= @article.created_at.strftime('%B' + ' ' + @article.created_at.day.ordinalize + ' ' + '%Y') %>
					<!-- #{article.created_at.day.ordinalize} -->
				</div>
			</div>
			
			<div class="featured_pic">
				
				<%= link_to image_tag(@article.image.url(:featured)), {:controller => 'articles', :action => 'show', :id => @article.slug } %>
				
			</div>
			
			<div id="content" class="expandDiv">
				<%=raw @article.text %>
			</div>
		</div>

		

		<!-- this div comes in at small screens <500px -->
		<div id="mainsectionsmall"> 

			<li class="block">


				<div class="mini_image">
					<%= link_to image_tag(@article.image.url(:featured)), {:controller => 'articles', :action => 'show', :id => @article.slug } %>
				</div>
					<div class="mini_info">
						<%= @article.created_at.strftime('%B' + ' ' + @article.created_at.day.ordinalize + ' ' + '%Y') %>
					</div>
					<div class="mini_text"><strong>
						<%= link_to @article.title, {:controller => 'articles', :action => 'show', :id => @article.slug } %>
					</strong></div>
				</li>
		</div>
		
			
		<div id="secondarysection" class="the_rest">
			<% @rticles = Article.offset(1).order("created_at").reverse_order().first(6).each do |a| %>
				
				<li class="block">
					<div class="mini_image"><%= link_to image_tag(a.image.url(:regular)), {:controller => 'articles', :action => 'show', :id => a.id } %></div>

					<div class="mini_info_wrapper">
						<div class="mini_share_buttons">
							share but was here
						</div>
						<div class="mini_info">
							<%= a.created_at.strftime('%B' + ' ' + a.created_at.day.ordinalize + ' ' + '%Y') %>
						</div>
					</div>



















					
					
					<div class="mini_text"><strong><%= link_to a.title, {:controller => 'articles', :action => 'show', :id => a.slug }  %></strong></div>
				</li>
			<% end %>

				





		</div>
		
		
		
	</div>
	
	
	
	
	<div class="side">
		<% if !user_signed_in? %>
			<div id="one">
				
				<div id="register_mini">
					<h5>GET OUR UPDATES</h5>
					<p>join our community and stay informed.  
				
					</p>
					
					<input type="text" placeholder="email" id="email_mini" />
					
					<input type="submit" value="subscribe" id="go_mini" />
				</div>
				
			</div>
		<% end %>
		<%= link_to(chats_demo_path) do %>
			<div id="two">

				<div id="chat_mini">		
					<h5>Live camera feeds</h5>
					<p>see whos online live.</p>

				
					<%= image_tag("small_chat.png") %>
				</div>
		<% end %>		
			</div>
	</div>
	

</div>	
